<main class="d-flex">
  <div class="col-10 mx-auto">
    <!-- main panel -->
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <app-experiences></app-experiences>
      </div>

      <!-- side panel -->
      <div
        class="col-lg-4 col-md-4 col-sm-12"
        style="border-left: 3px solid darkblue"
      >
        <app-skills></app-skills>
        <app-educations></app-educations>
        <app-licences></app-licences>
        <app-language></app-language>
        <app-contact-info></app-contact-info>
      </div>
    </div>
  </div>
</main>
